DEBUG=True
SECRET_KEY=django-insecure-gq8qif6wzdswo5c@x--(iyr1_3vvax3k1_fk^&d#w_e6=ph!tu

DATABASE_URL=postgres://postgres:postgres@localhost:5432/live_wedding
REDIS_URL=redis://localhost:6379/0

NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_WS_URL=ws://localhost:8000/ws

CLOUDINARY_1_CLOUD_NAME=
CLOUDINARY_1_API_KEY=
CLOUDINARY_1_API_SECRET=

CLOUDINARY_2_CLOUD_NAME=
CLOUDINARY_2_API_KEY=
CLOUDINARY_2_API_SECRET=

CLOUDINARY_3_CLOUD_NAME=
CLOUDINARY_3_API_KEY=
CLOUDINARY_3_API_SECRET=

CLOUDINARY_4_CLOUD_NAME=
CLOUDINARY_4_API_KEY=
CLOUDINARY_4_API_SECRET=

CLOUDINARY_5_CLOUD_NAME=
CLOUDINARY_5_API_KEY=
CLOUDINARY_5_API_SECRET=

FACE_MATCH_THRESHOLD=0.45

WATCH_FOLDER=D:/WeddingPhotos
